{% extends "dbase.html" %} {% load static %} {% block content %}
<div class="pt-5"></div>
<div class="table-responsive p-5">
    <a href="{% url 'download_excel' %}" class="btn btn-primary mt-3 mb-3">Download Excel</a>
    <table class="table table-bordered border-dark">
        <thead class="bg-inverse text-black">
            <tr>
                <th>ID</th>
                <th>Image Name</th>
                <th>User Name</th>
                <th>Flooded</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            {% with index=forloop.counter %}
            <tr>
                <td>{{ index }}</td>
                <td>{{image.image.image_name}}</td>
                <td>{{image.user.username}}</td>
                <td>{{image.is_flooded}}</td>
            </tr>
            {% endwith %}
            {% endfor %}     
        </tbody>
    </table>
  </div>
  {% endblock %}